@model IEnumerable<WEBCORELP2021.Models.Consultas.Agendamento>

@{
    ViewData["Title"] = "ListarAgendamento";
}

<h1>Lista de Agendamento</h1>

<p>
    <!--<a asp-action="Create">Create New</a>-->
</p>
<table class="table">
    <thead>
        <tr class="text-light">
            <th>
                @Html.DisplayNameFor(model => model.descricaoConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomePaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomePlano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeMedico)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-light">
            <td>
                @Html.DisplayFor(modelItem => item.descricaoConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomePaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomePlano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeMedico)
            </td>
        </tr>
}
    </tbody>
</table>
