@model IEnumerable<WEBCORELP2021.Models.Consultas.PivotPlanodeSaude>

@{
    ViewData["Title"] = "PivotPlanodeSaude";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pivot Convênio</h1>

<table class="table">
    <thead>
        <tr class="text-light">
            <th>
                @Html.DisplayNameFor(model => model.paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UNIMED)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SULAMERICA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CASSI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FUNCEF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NENHUM)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-light">
            <td>
                @Html.DisplayFor(modelItem => item.paciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UNIMED)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SULAMERICA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CASSI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FUNCEF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NENHUM)
            </td>
        </tr>
}
    </tbody>
</table>
