@model IEnumerable<WEBCORELP2021.Models.Dominio.Consulta>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Consultas - Hoje</h1>

<p>
    <button type="button" class="btn btn-outline-primary"><a asp-action="Create">Adicionar Consulta</a></button>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paciente)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.medico.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paciente.nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id"><button type="button" class="btn btn-outline-warning">Editar</button></a> |
                <a asp-action="Details" asp-route-id="@item.id"><button type="button" class="btn btn-outline-success">Visualizar</button></a> |
                <a asp-action="Delete" asp-route-id="@item.id"><button type="button" class="btn btn-outline-danger">Excluir</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
